SPOTIFY_CLIENT_ID="<your-client-id>"
SPOTIFY_CLIENT_SECRET="<your-client-secret>"
SPOTIFY_PLAYER_ADAPTER=librespot
SPOTIFY_PLAYER_DEVICE_NAME=spotify-tui
SPOTIFY_PLAYER_AUTO_TRANSFER=true
SPOTIFY_PLAYER_COMMAND=librespot
